---
// const platform = "github";
// const username = "withastro";
import Social from './Social.astro';
---

<footer class="flex gap-1 mt-8">
    <!-- <p>Learn more about my project on <a class="text-blue-500 hover:text-blue-700" href={`https://www.${platform}.com/${username}`} target="_blank">{platform}</a>!</p> -->
    <Social platform="Twitter" username="juanfecode" textColor="white"/>
    <Social platform="Github" username="juanlara17" textColor="white"/>
    <Social platform="Youtube" username="juanlara17" textColor="white"/>
</footer>